body {
 background-color: blue;
 align-content: center;
 width: 80ex;
 margin: 1em auto;
 font-family: monospace;
 font-style: normal;
 font-weight: 400;
 font-size: 5;
}


h1 {
 color: r;
 text-align: left;
 font-family: inherit;
 font-style: inherit;
 font-weight: inherit;
 font-size: inherit;
}

h1::before {
    content: '# ';
    color: green;
}

h2 {
 color: purple;
 text-align: left;
 font-family: inherit;
 font-style: inherit;
 font-weight: inherit;
 font-size: inherit;
}
h2::before {
    content: '## ';
    color: green;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
}

h3 {
 color: purple;
 text-align: left;
 font-family: inherit;
 font-style: inherit;
 font-weight: inherit;
 font-size: inherit;
}
h3::before {
    content: '### ';
    color: green;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
}

p {
 text-align: left;
 font-family: inherit;
 font-style: inherit;
 font-weight: inherit;
 font-size: inherit;
}
ul {
    list-style-position: inside;
    padding-left: 0;
}
li::before {
    content: '* ';
    color: black;
    /* padding-left: 10px; */
    padding-left: 0;
    padding-right: 10px;
}

li {
    text-align: left;
    list-style-type: none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;

}

a {
    text-align: center;
    text-decoration: none;
}

a::before {
    content: '[';
}

a::after {
    content: ']';
}

a:hover {
    color: red
}
